/*css stylesheet for saarbuckle personal website- July 2019*/
/*title {
	display: inline-block;
	position: relative;
}*/

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 100%;
	color: black;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	background-color: #F2F2F2;/*#EAE7DC;*/
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}
.onecol #container { 
	width: 100%; 
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}
.onecol #header { 
	padding: 10px 10px 10px 10px;  
}
.onecol #menuBar {
	padding: 0px 0px 0px 0px;
}
.onecol #contentHeader { 
	width: 90%; 
	margin: 0 auto; 
	padding: 10px 0px 0px 0px; 
	text-align: left; 
}
.onecol #contentMain { 
	width: 90%;  
	margin: 0 auto; 
	text-align: left;
}
.onecol #imgBar {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.onecol #iconBar {
	float: right;
	width: 105px;/*100*/
	padding: 12px 20px 0px 0px; 
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/*----------*/
/*  Images  */
/*----------*/
img {

}
.small {
	width: 100%;
	height: auto;
}
.alignMiddle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}
.h1logo {
	/*float: left;*/
	display:inline-block; 
	max-width: 50px;
	height: auto;
	width: auto\9; /* ie8 */
	padding-right: 4px;
	vertical-align: middle;
}
.headshot {
	width:  75%;
	min-width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding: 0px 0px 0px 0px;
	width: auto\9; /* ie8 */
}

/*----------*/
/*  HEADERS */
/*----------*/
h.h1 {
	font-family:"Lucida Sans Typewriter","Lucida Console",Monaco;
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
}
h.h1email {
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
	line-height: 1em;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
}
h.h2 {
	/*font-family:"Lucida Sans Typewriter","Lucida Console",Monaco;*/
	font-size: 1.5em;
	font-weight: bolder;
	text-align: left;	
	line-height: 1.4;
	color: #245178; /*#007ba3;*/
}
h.h3 {
	/*font-family:"Lucida Sans Typewriter","Lucida Console",Monaco;*/
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;	
	line-height: 1;
	color: #245178;
}


/*----------*/
/*  CONTENT */
/*----------*/
p.reg {
	font-size: 1em;
	font-weight: normal;
	color: #000000;/*#333;*/
	text-align: left;	
	text-decoration: none;
}
p.cite {
	font-size: 1em;
	font-weight: normal;
	color: #000000;/*#333;*/
	text-align: left;	
	text-decoration: none;
	text-indent: -35px;
	padding-left: 35px;
}


/*----------*/
/*  MENU    */
/*----------*/
ul.cite{
	list-style-type: dot;
}
li.cite{
	font-size: 1em;
	margin-bottom:12px;
}
ul.button {
	/*font-family:"Lucida Sans Typewriter","Lucida Console",Monaco;*/
	list-style-type: none;
	position: sticky;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #245178;/*#007ba3;*/
}
li.button {
	float: left;
}
li a.button {
	display: block;
	color: #b9bdc7;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1em;
	font-weight: normal;
	transition: all 0.18s ease 0s;
}
li a.button:hover {
	color: gold;
}
li a.buttonCurrent {
	font-weight: normal;/*bolder;*/
	color: whitesmoke;/*#ebce10;*/
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	/*font-family: "Arial", sans-serif;*/
	font-size: 1em;
}


/*----------*/
/*  LINKS   */
/*----------*/
a.header:link { /*unvisited link*/
	color: black;
	text-decoration: none;
}
a.header:visited { /*visited link*/
	color: black; /*don't change colour*/
}
a.header:hover { /*mouse over link*/
	color: black;
	text-decoration: none;
}
a.cite:link { /*unvisited link*/
	/*font-family: "Times New Roman", sanns-serif;*/
	font-size: 1em;
	font-weight: normal;
	color: #007ba3;
	text-decoration: none;
}
a.cite:visited { /*visited link*/
	color: #007ba3; /*don't change colour*/
}
a.cite:hover { /*mouse over link*/
	color: #007ba3; /*#e3d050;*/
	text-decoration: underline;
	text-decoration-color: darkslategray;
	text-decoration-style: solid;
	background-color: rgb(0,0,0,0.065)
}
/* fancy hyperlink underline animation:  https://css-irl.info/animating-underlines/ */
/*a.cite {
  background: 
    linear-gradient(to right, rgba(242, 242, 242, 0), rgba(242, 242, 242, 0)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    /*linear-gradient(to right, rgba(68, 1, 84, 1), rgba(64, 67, 135, 1), rgba(41, 119, 142, 1), rgba(34, 167, 132, 1), rgba(121, 209, 81, 1), rgba(252, 231, 36, 1));*/
  	/*linear-gradient(to right, rgba(12, 7, 133, 1), rgba(106, 0, 167, 1), rgba(176, 42, 143, 1), rgba(224, 99, 96, 1), rgba(252, 166, 52, 1));*/
  /*background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 120ms;
}
a.cite:hover,
a.cite:focus {
  background-size: 0 0.1em, 100% 0.1em;
}*/

/*site icons*/
a.icon:link {
	color: #b9bdc7;
	transition: all 0.1s ease 0s;
}
a.icon:visited {
	color: #b9bdc7;
}
a.icon:hover {
	color: gold;
}


/*----------*/
/*  TABLE   */
/*----------*/
table.about {
	margin-left: auto;
  	margin-right: auto;
	width: 100%;
	border: 0px;
}
td.photo{
	width: 30%;
}
td.header{
	width: 10%;
	text-align: right;
	padding-right: 10px;
}
td.text {
	font-size: 1em;
	width: 40%;
	text-align: left;
}
td.email {
	font-family:"Lucida Sans Typewriter","Lucida Console",Monaco;
	font-size: 0.8em;
	width: 40%;
	text-align: left;
}


/*----------*/
/*  MISC.   */
/*----------*/
/*Set mobile settings*/
/*@media only screen and (max-width: 400px) {
	
}*/
/*Set desktop settings*/
@media only screen and (min-width: 901px) {
	.onecol #container {
		width: 900px;
	}
	.onecol #contentMain { 
		width: 800px;
	}
	.onecol #contentHeader { 
		width: 800px;
	}
	.onecol #imgBar {
		width: 900px;
	}
	table.about {
		width: 800px;
	}
}
/*Second set of desktop settings for smooth resizing of menu bar width*/
@media only screen and (min-width: 1001px) {
	.onecol #container {
		width: 90%;
	}
}
