/* css stylesheet for spencer arbuckle's personal website */


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: black;
	text-rendering: optimizeLegibility;
	line-height: 1.4;
	background-color: #F2F2F2;
	margin: 0 auto;
	padding: 0;
	text-align: left; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
}
.onecol #container { 
	width: 100%; 
	margin: 0 auto; 
}
.onecol #containerFade { 
	width: 100%; 
	margin: 0 auto; 
	animation-name: FadeIn;
  animation-duration: 0.54s;
  transition-timing-function: ease-in;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.onecol #header { 
	padding: 10px;  
}
.onecol #menuBar {
	padding: 0px;
}
.onecol #contentMain { 
	width: 90%;  
	margin: 0 auto; 
}
.onecol #iconBar {
	float: right;
	width: 105px;/*100*/
	padding: 12px 20px 0px 0px; 
	margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.onecol #imgBar {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	position: relative;
}
.onecol #imgBar img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}
.onecol #imgBar .imgLink {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 17.5%;
    right: 0px;
    padding: 2px 5px;
    color: #2979E2;
    background: #F2F2F2;
    text-decoration: none;
    text-align: left;
    transition: opacity 300ms;
}
.onecol #imgBar:hover .imgLink {
    opacity: 0.9;
}
.onecol #imgBar .imgLink:hover { /*mouse over link*/
	color: black; 
	text-decoration: underline;
	text-decoration-color: black;
	text-decoration-style: solid;
}


/*----------*/
/*  Images  */
/*----------*/
img {
}
.lines {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.sitelogo {
	display:inline-block; 
	max-width: 50px;
	height: auto;
	width: auto\9; /* ie8 */
	padding-right: 4px;
	vertical-align: middle;
}
.headshot {
	width: 25%;
	min-width: 100px;
	display: flex;
	float: left;
	height: auto;
	padding: 5px 15px 5px 5px;
	width: auto\9; /* ie8 */
}


/*----------*/
/*  HEADERS */
/*----------*/
h.masthead {
	color: #245178;
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}
h.masthead:hover{
	color: gold;
	transition: all 0.15s ease 0s;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	text-align: left;	
	line-height: 1.4;
	color: #245178; /*#007ba3;*/
	margin: 0px;
}


/*----------*/
/*  CONTENT */
/*----------*/
p.reg {
	font-size: 1em;
	color: #000000;/*#333;*/
	text-align: left;	
	text-decoration: none;
}
p.cite {
	font-size: 1em;
	color: #000000;/*#333;*/
	text-align: left;	
	text-decoration: none;
	margin-bottom:12px;
	/*text-indent: -35px;
	padding-left: 35px;*/
}


/*----------*/
/*  MENU    */
/*----------*/
ul.button {
	list-style-type: none;
	position: sticky;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #245178;
}
li.button {
	float: left;
	padding: 10px 0px 10px 16px;
}
li a.button {
	display: block;
	color: #b9bdc7;
	text-align: center;
	text-decoration: none;
	transition: all 0.18s ease 0s;
}
li a.button:hover {
	color: gold;
}
li a.buttonCurrent {
	color: whitesmoke;
	display: block;
	text-align: center;
	text-decoration: none;
}


/*----------*/
/*  LINKS   */
/*----------*/
a.masthead:link { /*unvisited link*/
	color: black;
	text-decoration: none;
}
a.masthead:visited { /*visited link*/
	color: black; /*don't change colour*/
	text-decoration: none;
}
a.masthead:hover { /*mouse over link*/
	color: gold;
	text-decoration: none;
	transition: all 0.15s ease 0s;
}

a.cite:link { /*unvisited link*/
	color: #2979E2;
	text-decoration: none;
}
a.cite:visited { /*visited link*/
	color: #2979E2;/*don't change colour*/
}
a.cite:hover { /*mouse over link*/
	color: black; 
	text-decoration: underline;
	text-decoration-color: black;
	text-decoration-style: solid;
	background-color: rgb(0,0,0,0.065)
}

/*site icons*/
a.icon:link {
	color: #b9bdc7;
	transition: all 0.1s ease 0s;
}
a.icon:visited {
	color: #b9bdc7;
}
a.icon:hover {
	color: gold;
}


/*----------*/
/*  MISC.   */
/*----------*/
/*Set mobile settings*/
/*@media only screen and (max-width: 400px) {
	
}*/
/*Set desktop settings*/
@media only screen and (min-width: 901px) {
	.onecol #container {
		width: 900px;
	}
	.onecol #contentMain { 
		width: 800px;
	}
	.onecol #contentHeader { 
		width: 800px;
	}
	.onecol #imgBar {
		width: 900px;
	}
	table.about {
		width: 800px;
	}
}
/*Second set of desktop settings for smooth resizing of menu bar width*/
@media only screen and (min-width: 1001px) {
	.onecol #container {
		width: 90%;
	}
}
