/* css stylesheet for spencer arbuckle's personal website */

:root {
	--color-bg: #F9F8F7;
	--color-btn-bg: #023047;
	--color-btn-text: #b9bdc7;
	--color-btn-text-hover: #FFD700;
	--color-btn-text-current: #F5F5F5;
	--color-text-masthead: #023047;
	--color-text-h2: #245178;
	--color-text-p: #000000;
	--color-text-strong: #000000;
	--color-text-link: #2F70C3;
	--color-text-link-hover: #2F70C3;
	--color-text-link-active: black;
	--color-text-link-underline: #000000;
	--transition-time: 0.1s;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: var(--color-text-p);
	text-rendering: optimizeLegibility;
	text-align: left;
	line-height: 1.4;
	background-color: var(--color-bg);
	margin: 0 auto;
	padding: 0;
}
.onecol #container { 
	width: 100%; 
	margin: 0 auto; 
}
.onecol #containerFade { 
	width: 100%; 
	margin: 0 auto; 
	animation-name: FadeIn;
  animation-duration: 0.54s;
  transition-timing-function: ease-in;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.onecol #header { 
	padding: 10px;  
}
.onecol #menuBar {
	padding: 0px;
}
.onecol #contentMain { 
	width: 90%;  
	margin: 0 auto; 
}
.onecol #iconBar {
	float: right;
	width: 105px;/*100*/
	padding: 12px 20px 0px 0px; 
	margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.onecol #imgBar {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	position: relative;
}
.onecol #imgBar img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}
.onecol #imgBar .imgLink {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 17.5%;
    right: 0px;
    padding: 2px 5px;
    color: var(--color-text-link);
    background: var(--color-bg);
    text-decoration: none;
    text-align: left;
    transition: opacity 300ms;
}
.onecol #imgBar:hover .imgLink {
    opacity: 0.95;
}
.onecol #imgBar .imgLink:hover { /*mouse over link*/
	color: var(--color-text-link-hover); 
	text-decoration: underline;
	text-decoration-color: var(--color-text-link-underline);
	text-decoration-style: solid;
}
.onecol #imgBar .imgLink:active { /*mouse click*/
	color: var(--color-text-link-active); 
}


/*----------*/
/*  Images  */
/*----------*/
img {
}
.lines {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.sitelogo {
	display:inline-block; 
	max-width: 40px;
	height: auto;
	width: auto\9; /* ie8 */
	padding-right: 4px;
	vertical-align: middle;
}
.headshot {
	width: 25%;
	min-width: 125px;
	display: flex;
	float: right;
	height: auto;
	padding-bottom: 15px;
	width: auto\9; /* ie8 */
}



/*----------*/
/*  TEXT    */
/*----------*/
p.reg {
	font-size: 1em;
	color: var(--color-text-p);
	text-align: left;	
	text-decoration: none;
}
strong{
	color: var(--color-text-strong);
}

span.togglePre{
	cursor: help; 
	font-style: normal;
	text-decoration: underline;
	text-decoration-color: silver;
	text-decoration-style: solid;
}
span.togglePost{
	color: rgb(130,130,130,1);
	display: none;
	font-style: italic;
	/*background-color: rgb(164,164,164,0.4);*/
}

h.masthead {
	color: 	var(--color-text-masthead);
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	text-decoration: underline 0.1em rgba(255,215,0, 0);
  transition: all var(--transition-time) ease 0s;
}
h.masthead:hover{
	color: var(--color-text-masthead);
	text-decoration: underline;
	text-decoration-color: var(--color-btn-text-hover);
	text-decoration-style: solid;
	text-decoration: underline 0.1em rgba(255,215,0, 1);
}
/*h.masthead:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-link-underline);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
h.masthead:hover:after {
  transform: scaleX(1);
}*/

h1 {
	font-size: 1.5em;
	font-weight: normal;
	text-align: left;	
	line-height: 1.4;
	color: var(--color-text-h2);
	margin: 0px;
}

h2 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: lighter;
	text-align: left;	
	line-height: 1.4;
	color: #E6702A;
	margin: 0px;
}


/*----------*/
/*  LIST    */
/*----------*/
ul.button {
	list-style-type: none;
	position: sticky;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--color-btn-bg);
}
li.button {
	float: left;
	padding: 10px 0px 10px 16px;
}
li a.button {
	display: block;
	color: var(--color-btn-text);
	text-align: center;
	text-decoration: none;
	transition: all var(--transition-time) ease 0s;
}
li a.button:hover {
	color: var(--color-btn-text-hover);
	text-decoration-line: underline;
}
li a.buttonCurrent {
	color: var(--color-btn-text-current);
	display: block;
	text-align: center;
	text-decoration: none;
}


/*----------*/
/*  LINKS   */
/*----------*/
a.cite:link { /*unvisited link*/
	color: var(--color-text-link);
	text-decoration: none;
}
a.cite:visited { /*visited link*/
	color: var(--color-text-link);
}
a.cite:hover { /*mouse over link*/
	color: var(--color-text-link-hover); 
	text-decoration: underline;
	text-decoration-color: var(--color-text-link-underline);
	text-decoration-style: solid;
	background-color: rgb(0,0,0,0.06)
}
a.cite:active { /*on mouse click*/
	color: var(--color-text-link-active); 
	text-decoration: underline;
	text-decoration-color: var(--color-text-link-underline);
	text-decoration-style: solid;
	background-color: rgb(0,0,0,0.06)
}

/*site icons*/
a.icon:link {
	color: var(--color-btn-text);
	transition: all var(--transition-time) ease 0s;
}
a.icon:visited {
	color: var(--color-btn-text);
}
a.icon:hover {
	color: var(--color-btn-text-hover);
}


/*----------*/
/*  MISC.   */
/*----------*/
/*Set mobile settings*/
/*@media only screen and (max-width: 400px) {
	
}*/
/*Set desktop settings*/
@media only screen and (min-width: 901px) {
	.onecol #container {
		width: 900px;
	}
	.onecol #contentMain { 
		width: 800px;
	}
	.onecol #contentHeader { 
		width: 800px;
	}
	.onecol #imgBar {
		width: 900px;
	}
	table.about {
		width: 800px;
	}
}
/*Second set of desktop settings for smooth resizing of menu bar width*/
@media only screen and (min-width: 1001px) {
	.onecol #container {
		width: 90%;
	}
}


/*---------------*/
/*  highlight.js */
/*---------------*/
/*!
  Theme: a11y-light
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/

.hljs {
  background: #fefefe;
  color: #545454;
  border: 1px solid #CCCCCC;
}

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #696969;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d91e18;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #aa5d00;
}

/* Yellow */
.hljs-attribute {
  color: #aa5d00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #008000;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #007faa;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #7928a1;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}



/*---------------*/
/*  leaflet      */
/*---------------*/
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
